{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
  <div class="card-header">
    <h3>SBN Package Configurations</h3>
  </div>
  <div class="card-body">
    <form>
     
     <div class="row">
      <div class="col-sm-8">
       {{form.package(class='form-control', placeholder='Enter package amount !')}}
     </div>
     
     <div class="col-sm-2">
       <button type="submit" class="btn btn-primary mb-2">Add Package</button>
     </div>
   </div>
 </form>
</div>
</div>

<form method="GET" action="/">
<div class="card scrol scrollbar-cyan thin">
  <div class="card-body">
   <h5 class="card-title">Package List</h5>
   <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Package Date</th>
        <th scope="col-auto">Package Id</th>
        <th scope="col">Package</th>
      </tr>
    </thead>
    <tbody>
      {% set ns = namespace(i=0) %}
      {% for pkg in pkg_sbn %}
      {% set ns.i = ns.i +1 %}
      <tr>
        <th scope="row">{{ns.i}}</th>
        <td>{{pkg.package_date}}</td>
        <td class='col-auto'>{{pkg.package}}</td>
        <td>{{pkg.package_id}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
</div>
</form>

{% endblock content_admin %}

