{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
  <div class="card-header">
    <h3>SBN Rewards Configurations</h3>
  </div>
  <div class="card-body">
    <form method="POST" onSubmit="return confirm('Are you sure to update the Reward?');">
     {{ form.csrf_token }}
     <div class="row">
      <div class="col-sm-2">
       {{form.reward.label(class='form-control')}}
     </div>
     <div class="col-sm-5">
       {{form.percentage(placeholder='Enter SBN reward percentage here !', class='form-control')}}
     </div>
     <div class="col-sm-1">
       %
     </div>
     <div class="col-sm-2">
       <!-- <button type="submit" class="btn btn-danger mb-2">Impact</button> -->
       {{form.submit(class='btn btn-danger')}}
     </div>
   </div>
 </form>
</div>
</div>

<!-- <form method="GET" action="/"> -->
<div class="card scrol scrollbar-cyan thin">
  <div class="card-body">
  	<h5 class="card-title">Weekly Rewards Configurations</h5>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Updated On</th>
          <th scope="col">Percentage</th>
          <th scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
       
        <tr>
          <th scope="row">1</th>
          <td>{{reward_weekly.createdDate}}</td>
          <td>{{reward_weekly.percentage}}</td>
          <td>
            <!-- <button type="button" class="btn btn-primary" value="{{reward_weekly._id}}">Load</button> -->
            <form method="POST" action="{{ url_for('reward_load', reward=reward_weekly.reward) }}">
              {{ form.csrf_token }}
              {{form.load(class='btn btn-primary')}}
            <!-- <input type="submit" class="btn btn-primary" value="Load")"> -->
          </form>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 class="card-title">Monthly Rewards Configurations</h5>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Updated On</th>
          <th scope="col">Percentage</th>
          <th scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
       
        <tr>
          <th scope="row">1</th>
         
          <td>{{reward_monthly.createdDate}}</td>
          <td>{{reward_monthly.percentage}}</td>
          <td>
            <!-- <button type="button" class="btn btn-primary" value="{{reward_monthly._id}}">Load</button> -->
            <form method="POST" action="{{ url_for('reward_load', reward=reward_monthly.reward) }}">
              {{ form.csrf_token }}
              {{form.load(class='btn btn-primary')}}
            <!-- <input type="submit" class="btn btn-primary" value="Load")"> -->
          </form>
          </td>
         
        </tr>
       
      </tbody>
    </table>
    <h5 class="card-title">Direct Member Rewards Configurations</h5>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Updated On</th>
          <th scope="col">Percentage</th>
          <th scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <th scope="row">1</th>
          
          <td>{{reward_member.createdDate}}</td>
          <td>{{reward_member.percentage}}</td>
          <td>
            <!-- <button type="button" class="btn btn-primary" value="{{reward_member._id}}">Load</button> -->
            <form method="POST" action="{{ url_for('reward_load', reward=reward_member.reward) }}">
              {{ form.csrf_token }}
              {{form.load(class='btn btn-primary')}}
            <!-- <input type="submit" class="btn btn-primary" value="Load")"> -->
          </form>
          </td>
          
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
<!-- </form> -->








{% endblock content_admin %}

