{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
  <div class="card-header">
    <h3>SBN Wallet Configurations</h3>
  </div>
  <div class="card-body">
    <form method="POST" onSubmit="return confirm('Are you sure to update the SBN Wallet?');">
     {{ form.csrf_token }}
     <div class="row">
      <div class="col-sm-8">
       
       {{form.sbn_wallet(placeholder='Enter SBN Wallet here !', class='form-control')}}
     </div>
     <div class="col-sm-2">
      
        
        <!-- <button type="submit" class="btn btn-danger mb-2">Impact</button> -->
        {{form.submit(class='btn btn-danger')}}
      
     </div>
   </div>
 </form>
</div>
</div>


<div class="card scrol scrollbar-cyan thin">
  <div class="card-body">
    <h5 class="card-title">Record List</h5>
    
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Updated On</th>
          <th scope="col">SBN Wallet</th>
          <th scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
        {% for sbn in sbn_wallet %}
        <tr>
          <th scope="row">1</th>
          <td>{{sbn.updatedDate}}</td>
          <td>{{sbn.wallet}}</td>
          <td>
            <!-- <button type="button" class="btn btn-primary" value="{{sbn._id}}">Load</button> -->
            <form method="POST" action="{{ url_for('wallet_load', wallet=sbn.wallet) }}">
              {{form.load(class='btn btn-primary')}}
            <!-- <input type="submit" class="btn btn-primary" value="Load")"> -->
          </form>
          
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>


{% endblock content_admin %}

