{% extends "base_user.html"%}
{% block content_user %}

<div class="container contact-form">
	<div class="contact-image">
		<img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
	</div>

	<form method = "GET" action="">
		{{ form.hidden_tag() }}
		
		<div class="row">
			<div class="col">
				<h3>User Profile</h3>
			</div>
			<div class="col">
				
				<img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" class="rounded float-right"/>
				
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{form.username.label}}
					{{form.username(placeholder='Username', class='form-control')}}
				</div>
				<div class="form-group">
					{{form.email_address.label}}
					{{form.email_address(placeholder='Email Address', class='form-control')}}
				</div>
				<div class="form-group">
					{{form.full_name.label}}
					{{form.full_name(placeholder='Full Name', class='form-control')}}
				</div>
				<div class="form-group">
					{{form.country.label}}
					{{form.country(placeholder='Country', class='form-control')}}
				</div>
				
                        <!--<div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div> -->
                        


                    </div>
                    <div class="col-md-6">
                        <!-- <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div> -->
                        <div class="form-group">
                        	{{form.mobile.label}}
                        	{{form.mobile(placeholder='Mobile', class='form-control')}}
                        </div>
                        <div class="form-group">
							{{form.referral_link.label}}
							{{form.referral_link(placeholder='Referral Link', class='form-control')}}
						</div>
						<div class="form-group">
							{{form.referral_code.label}}
							{{form.referral_code(placeholder='Referral Code', class='form-control')}}
						</div>
                        <div class="form-group">
                        	&nbsp;
                        </div>

                        <input type="submit" name="submit" class="btnSubmit" value="Profile" />





                    </div>
                </div>
            </form>
        </div>

        {% endblock content_user %}

