{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
	<div class="card-header">
		<h3>Add Admin</h3>
	</div>
	<div class="card-body">
		<form method="POST" onSubmit="return confirm('Please confirm to add new admin account?');">
			{{ form.csrf_token }}
			<div class="row">
				<div class="col-sm-3">
					Enter Unique {{form.username.label(class='form-label')}}
				</div>
				<div class="col-sm-3">
					{{form.username(class='form-control', placeholder='Username')}}
				</div>
				<div class="col-sm-3">
					{{form.full_name.label(class='form-label')}}
				</div>
				<div class="col-sm-3">
					{{form.full_name(class='form-control', placeholder='Full Name')}}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					Set {{form.password.label(class='form-label')}}
				</div>
				<div class="col-sm-3">
					{{form.password(class='form-control', placeholder='Password *')}}
				</div>
				<div class="col-sm-3">
					Re enter {{form.confirm_pass.label(class='form-label')}}
				</div>
				<div class="col-sm-3">
					{{form.confirm_pass(class='form-control', placeholder='Confirm Password *')}}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					New {{form.email_address.label(class='form-label')}}
				</div>
				<div class="col-sm-3">
					{{form.email_address(class='form-control', placeholder='Email *')}}
				</div>
				<div class="col-sm-3">
					To create new admin account:
				</div>
				<div class="col-sm-3" >
					
					{{form.submit(class='btn btn-danger')}}
					<!-- <button type="submit" class="btn btn-primary mb-2">Approve</button> -->
						
				</div>
			</div>
		</form>
	</div>
</div>

<div class="card scrol scrollbar-cyan thin">
	
	<div class="card-body">
		<h5 class="card-title">All Admin Accounts</h5>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Created On</th>
					<th scope="col-auto">Approval Date</th>
					<th scope="col">Username</th>
					<th scope="col">Approve</th>
					
				</tr>
			</thead>
			<tbody>
				<!-- {% set ns = namespace(i = 0) %} -->
        		{% for data in admin_data %}
				<tr>
					<th scope="row">{{loop.index}}</th>
					<td>{{data.created_date}}</td>
					<td>{{data.updated_date}}</td>
					<td class='col-auto'>{{data.username}}</td>
					<td>{{data.is_approved}}</td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>


{% endblock content_admin %}

