{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
  <div class="card-header">
    <h3>Announcements</h3>
  </div>
  <div class="card-body">
    <form>
     
     <div class="row">
      <div class="col-sm-8">

       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your Announcements here !"></textarea>
     </div>
     <div class="col-sm-2">
       <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
        <label class="form-check-label" for="autoSizingCheck">
         Activate
       </label>
     </div>
   </div>
   <div class="col-sm-2">
     <button type="submit" class="btn btn-danger mb-2">Impact</button>
   </div>
 </div>
</form>
</div>
</div>







<div class="card scrol scrollbar-cyan thin">
  <div class="card-body">
    <h5 class="card-title">Record List</h5>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Created On</th>
          <th scope="col-auto">Announcement</th>
          <th scope="col">Status</th>
          <th scope="col">Modify</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>2022-06-14</td>
          <td class='col-auto'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</td>
          <td>True</td>
          <td><button type="button" class="btn btn-primary">Load</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2022-06-15</td>
          <td class='col-auto'>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.
          Donec id elit non mi porta gravida at eget metus.</td>
          <td>True</td>
          <td><button type="button" class="btn btn-primary">Load</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>2022-06-16</td>
          <td class='col-auto'>Etiam porta sem malesuada magna mollis euismod.</td>
          <td>False</td>
          <td><button type="button" class="btn btn-primary">Load</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock content_admin %}

