{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
	<div class="card-header">
		<h3>Member Approval</h3>
	</div>
	<div class="card-body">
		

			<div class="row">
				<div class="col-sm-2">
					{{form.username.label(class='form-control', placeholder='Username')}}
				</div>
				<div class="col-sm-3">
					{{form.full_name.label(class='form-control', placeholder='Full Name')}}
				</div>
				<div class="col-sm-4">
					{{form.email_address.label(class='form-control', placeholder='Email@address.com')}}
				</div>
				<div class="col-sm-1" >
					<form method="POST" onSubmit="return confirm('Please confirm to approve this member?');">
						{{form.approve(class='btn btn-primary')}}
						<!-- <button type="submit" class="btn btn-primary mb-2">Approve</button> -->
					</form>
				</div>
				
			</div>
		
	</div>
</div>

<div class="card scrol scrollbar-cyan thin">
	
	<div class="card-body">
		<h5 class="card-title">Member List</h5>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Created On</th>
					<th scope="col-auto">Approval Date</th>
					<th scope="col">Username</th>
					<th scope="col">Approve</th>
					<th scope="col">Modify</th>
				</tr>
			</thead>
			<tbody>
				{% set ns = namespace(i = 0) %}
        		{% for ann in sbn_ann %}
				<tr>
					<th scope="row">1</th>
					<td>2022-06-7</td>
					<td>2022-06-14</td>
					<td class='col-auto'>hayyan</td>
					<td>False</td>
					<td>False</td>
					<td><button type="button" class="btn btn-primary">Load</button></td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>2022-06-8</td>
					<td>2022-06-15</td>
					<td class='col-auto'>zain.noman</td>
					<td>True</td>
					<td>False</td>
					<td><button type="button" class="btn btn-primary">Load</button></td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>2022-06-8</td>
					<td>2022-06-15</td>
					<td class='col-auto'>ahmed2022</td>
					<td>False</td>
					<td>False</td>
					<td><button type="button" class="btn btn-primary">Load</button></td>
				</tr>

			</tbody>
		</table>
	</div>

</div>


{% endblock content_admin %}

