{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
	<div class="card-header">
		<h3>Manage Members</h3>
	</div>
	<div class="card-body">
		
		<form method="POST" onSubmit="return confirm('Please confirm this member account for login and activation rights?');">
			<!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
			{{ form.csrf_token }}
			<div class="row">
				<div class="col-sm-2">
					{{form.username(class='form-control', placeholder='Username')}}
				</div>
				<div class="col-sm-3">
					{{form.full_name(class='form-control', placeholder='Full Name')}}
				</div>
				<div class="col-sm-4">
					{{form.email_address(class='form-control', placeholder='Email@address.com')}}
				</div>
				<div class="col-sm-1" >
						
						{{form.submit(class='btn btn-success')}}
						<!-- <button type="submit" class="btn btn-primary mb-2">Approve</button> -->
					
				</div>
				
			</div>
		</form>
	</div>
</div>

<div class="card scrol scrollbar-cyan thin">
	
	<div class="card-body">
		<h5 class="card-title">Member Accounts</h5>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Created On</th>
					<th scope="col-auto">Approval Date</th>
					<th scope="col-auto">Activation Date</th>
					<th scope="col">Username</th>
					<th scope="col">Approved</th>
					<th scope="col">Active</th>
					<th scope="col">Modify</th>
				</tr>
			</thead>
			<tbody>
				<!-- {% set ns = namespace(i = 0) %} -->
        		{% for data in member_data %}
				<tr>
					<th scope="row">{{loop.index}}</th>
					<td>{{data.created_date}}</td>
					<td>{{data.updated_date}}</td>
					<td>{{data.active_date}}</td>
					<td class='col-auto'>{{data.username}}</td>
					<td>{{data.is_approved}}</td>
					<td>{{data.is_active}}</td>
					<td>
						<form method="POST" action="{{ url_for('member_load', uxr=data.username,act=data.is_approved,sts=data.is_active) }}">
							{{ form.csrf_token }}
              				{{form.load(class='btn btn-primary')}}
            			</form>
						<!-- <button type="button" class="btn btn-primary">Load</button> -->
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>


{% endblock content_admin %}

