{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
	<div class="card-header">
		<h3>Direct Member Rewards Giveaway</h3>
	</div>
	<div class="card-body">
		<form>

			<div class="row">
				<div class="col-sm-3">
					Direct member reward @
				</div>
				<div class="col-sm-3">
					{{reward_form.percentage(placeholder='', class='form-control')}}
				</div>
				<div class="col-sm-1">
					%
				</div>
				<div class="col-sm-2" >
					<button type="submit" class="btn btn-danger mb-2">Impact to all referrals</button>
				</div>
				
			</div>
		</form>
	</div>
</div>

<div class="card scrol scrollbar-cyan thin">
	
	<div class="card-body">
		<h5 class="card-title">Direct Member List (Activated)</h5>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Created On</th>
					<th scope="col-auto">Activation Date</th>
					<th scope="col">Username</th>
					<th scope="col">Package</th>
					<th scope="col">Referral</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>2022-06-7</td>
					<td>2022-06-14</td>
					<td class='col-auto'>hayyan</td>
					<td>pkg500</td>
					<td>6lke9871</td>
					
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>2022-06-8</td>
					<td>2022-06-15</td>
					<td class='col-auto'>zain.noman</td>
					<td>pkg1500</td>
					<td>m5ke6771</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>2022-06-8</td>
					<td>2022-06-15</td>
					<td class='col-auto'>ahmed2022</td>
					<td>pkg3000</td>
					<td>1poqbbn4</td>
				</tr>

			</tbody>
		</table>
	</div>

</div>


{% endblock content_admin %}

