{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
  <div class="card-header">
    <h3>Jackpot</h3>
  </div>
  <div class="card-body">
    <form method="POST" onSubmit="return confirm('Please confirm this member for Jackpot!!!');">
      <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
      {{ form.csrf_token }}

      <div class="row">
        <div class="col-sm-3">
          <label  class="form-label" >Please enter for </label>
          <span class="badge bg-light text-dark">
          {{form.username.label}}
        </span>
        </div>
        <div class="col-sm-3">
          <!-- <input type="text-box" class="form-control"> -->
          {{form.multiplier(class = 'form-control', placeholder='enter no. of times *')}}
        </div>
        <div class="col-sm-3">
          x
          <span class="badge bg-light text-warning">
            {{form.pkg_amount.label(placeholder='package amount')}}
          </span>
        </div>
        <div class="col-sm-2" >
          <!-- <button type="submit" class="btn btn-danger mb-2">Jackpot Launcher</button> -->
          {{form.submit(class='btn btn-danger')}}
        </div>
        
      </div>
    </form>
  </div>
</div>

<div class="card scrol scrollbar-cyan thin">

  <div class="card-body">
    <h5 class="card-title">Member List (Activated)</h5>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>

          <th scope="col-auto">
            <form action="{{url_for('jackpot')}}">
              <label for="package">Package:</label>
              <select name="pack" id="pack">
                {% for data in sbn_packages %}
                <option value="{{data.package_id}}">{{data.package_id}}</option>
                {% endfor %}
                
              </select>
              
              <input type="submit" value="Select" class="btn btn-toggle">
            </form>
          </th>
          <th scope="col"></th>
        </tr>

        <tr>
          <th scope="col">#</th>
          <th scope="col">Created On</th>
          <th scope="col-auto">Activation Date</th>
          <th scope="col">Username</th>
          <th scope="col">Full Name</th>
          <th scope="col">Package</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody>
        {% for data in sbn_members %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{data.created_date}}</td>
          <td>{{data.active_date}}</td>
          <td class='col-auto'>{{data.username}}</td>
          <td>{{data.full_name}}</td>
          
          <td>
            {% for pkg in data.packages %}
            {{pkg}}<br>
            {% endfor %}
          </td>
          
          <td>

            <form method="POST" action="{{ url_for('jackpot_load', uxr=data.username,pack=pkg) }}">
              {{ form.csrf_token }}
              {{form.load(class='btn btn-primary')}}
            </form>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>



{% endblock content_admin%}