{% extends "base_admin.html"%}
{% block content_admin %}




<div class="card">
	<div class="card-header">
		<h3>Monthly Rewards Giveaway</h3>
	</div>
	<div class="card-body">
		<form method="POST" onSubmit="return confirm('Please confirm these members for Monthly luckydraw!!!');">
			{{ form.csrf_token }}

			<div class="row">
				<div class="col-sm-2">
					Monthly reward @
				</div>
				<div class="col-sm-2">
					{{form.percentage(placeholder='', class='form-control')}}
				</div>
				<div class="col-sm-4">
					% of <span class="badge bg-light text-warning">{{pkg}}</span> package
				</div>
				<div class="col-sm-2" >
					<!-- <button type="submit" class="btn btn-danger mb-2">Impact Selected</button> -->
					{{form.submit(class='btn btn-danger')}}
				</div>
				
			</div>
			
		</form>
	</div>
</div>

<div class="card scrol scrollbar-cyan thin">
	
	<div class="card-body">
		<h5 class="card-title">Member List (Activated)</h5>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col-auto"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col-auto">
						<form action="{{url_for('monthly_reward')}}">
							<label for="package">Package:</label>
							<select name="pack" id="pack">
								{% for data in sbn_packages %}
								<option value="{{data.package_id}}">{{data.package_id}}</option>
								{% endfor %}

							</select>

							<input type="submit" value="Select" class="btn btn-toggle">
						</form>
					</th>
					<th scope="col"></th>
					
				</tr>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Created On</th>
					<th scope="col-auto">Activation Date</th>
					<th scope="col">Username</th>
					<th scope="col">Full Name</th>
					<th scope="col">Package</th>
					<th scope="col">Select</th>
				</tr>
			</thead>
			<tbody>
				<form>
					{% for data in sbn_members %}
					
					<tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{data.created_date}}</td>
						<td>{{data.active_date}}</td>
						<td class='col-auto'>{{data.username}}</td>
						<td>{{data.full_name}}</td>
						<td>
							{% for pkg in data.packages %}
							{{pkg}}<br>
							{% endfor %}
						</td>
						<td>
							<!-- <div class="form-check mb-2">
								<input class="form-check-input" type="checkbox" id="{{data._id}}">
							</div> -->
							<form method="POST" action="{{ url_for('jackpot_load', uxr=data.username,pack=pkg) }}">
				              {{ form.csrf_token }}
				              {{form.load(class='btn btn-primary')}}
				            </form>
						</td>
					</tr>
					
					{% endfor %}
				</form>

			</tbody>
		</table>
	</div>

</div>


{% endblock content_admin %}

