{% extends "base_admin.html"%}
{% block content_admin %}



<div class="card">
	<div class="card-header">
		<h3>Weekly Rewards Giveaway</h3>
	</div>
	<div class="card-body">
		<form method="POST" onSubmit="return confirm('Please confirm to assign weekly reward to all members?');">
			<!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
			{{ form.csrf_token }}

			<div class="row">
				<div class="col-sm-2">
					Weekly reward @
				</div>
				<div class="col-sm-3">
					{{form.percentage(placeholder='Percentage in numbers', class='form-control')}}
				</div>
				<div class="col-sm-1">
					%
				</div>
				<div class="col-sm-2" >
					<!-- <button type="submit" class="btn btn-danger mb-2">Impact to all</button> -->
					{{form.submit(class='btn btn-danger')}}
				</div>
				
			</div>
		</form>
	</div>
</div>

<div class="card scrol scrollbar-cyan thin">
	
	<div class="card-body">
		<h5 class="card-title">Member List (Activated)</h5>
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<!-- <th scope="col">Created On</th> -->
					<th scope="col">Activation Date</th>
					<th scope="col">Username</th>
					<th scope="col">Full Name</th>
					<th scope="col-auto">Packages</th>
				</tr>
			</thead>
			<tbody>
				{% for sbn in sbn_weekly %}
				
				<tr>
					<th scope="row">{{loop.index}}</th>
					<!-- <td>{{sbn.created_date}}</td> -->
					<td>{{sbn.active_date}}</td>
					<td >{{sbn.username}}</td>
					<td>{{sbn.full_name}}</td>
					
					<td class='col-auto'>
						{% for pkg in sbn.packages %}
						{{pkg.package_id}}<br>
						{% endfor %}
					</td>
					
					
				</tr>
				
				{% endfor %}

			</tbody>
		</table>
	</div>

</div>


{% endblock content_admin %}

